<!doctype html>
<html style="height: 100%;"lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>HighLight</title>
</head>

<body style="height: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"href="#">HighLight</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link active text-dark" href="./setup.html">Setup</a>
    <a class="nav-item nav-link active text-dark" href="./safety.html">Safety</a>
    <a class="nav-item nav-link active text-dark" href="./demo.html">Demo</a>
    <a class="nav-item nav-link active text-dark" style="margin-left: 65%;"href="#">
      <form action="/sterilze" method="post">
        <input class="btn btn-primary" type="submit" name="UV" value="UV">
      </form>
    </a>
  </nav>
  <div style="background-color: #FCF483; height: 100%;"class="container-fluid">
    <br>
    <form action="/therapy" method="post">
      <h1 class="text-center">Welcome to HighLight{{switch}}</h1>
      <p class="text-muted text-center">Enter protocol information for current phototherapy session</p>
      <hr>

      <h2>Enter Skin Color</h2>
      <div class="row">
        <div class="d-inline col-10"><img style="width:70%;"src="../static/tones.png"alt=""></div>
        <div class="d-inline col"><input type="number" name="selectSkin" placeholder="0" name="selectSkin"></div>
      </div>
      <hr>

      <h2>Select Appropriate Attachment</h2>
      <div class="row">
        <div class="d-inline col-10">Attachment will have associated letter on its side</div>
        <div class="d-inline col">
          <select class="custom-select" name="selectAttachment">
            <option value="Red">Red</option>
            <option value="Green">Green</option>
          </select>
        </div>
      </div>
      <hr>

      <h2>Select Wavelength</h2>
      <div class="row">
        <div class="d-inline col-10">Infrared for postoperative; UV for sterilization</div>
        <div class="d-inline col">
          <select class="custom-select" name="selectWave" name="selectWave">
            <option value="I">Infrared</option>
            <option value="U">UV</option>
          </select>
        </div>
      </div>
      <hr>
      <button class="btn btn-success" type="submit" id="submitForm" name="submitForm">Submit Protocol</button>
      <br>
    </form>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
